@page "/jsinterop2"

<h1>Call .NET from JavaSCript</h1>
<br />

<div class="row">
    <div class="col-md-4">
        <h2>
            Calling static method from JS:
        </h2>
    </div>
    <div class="col-md-2">
        <button type="button" class="btn btn-info" onclick="jsFunctions.calculateSquareRoot()">
            Click me!
        </button>
    </div>
    <div class="col-md-4">
        <span id="string-result" class="form-text"></span>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <h2>
            Calling static method from JS with Custom Identitfier:
        </h2>
    </div>
    <div class="col-md-2">
        <button type="button" class="btn btn-info" onclick="jsFunctions.calculateSquareRootOnlyResult()">
            Click me!
        </button>
    </div>
    <div class="col-md-4">
        <span id="result" class="form-text"></span>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <h2>
            Calling instance method from JS:
        </h2>
    </div>
    <div class="col-md-2">
        <button type="button" class="btn btn-info" @onclick="SendDotNetInstanceToJS">
            Click me!
        </button>
    </div>
    <div class="col-md-4">
        <div id="coordinates" class="coordinates">
            @coordinates.X - @coordinates.Y 
        </div>
    </div>
</div>
